<div class="content">
    <div class="container-fluid">
        <div>
            <div>

                <div>
                    <h1>
                        Who we are
                    </h1>
                    <p>
                        We believe in a world where you have total freedom to be you, without judgement. 
                        To experiment. To express yourself. To be brave and grab life as the extraordinary 
                        adventure it is. So we make sure everyone has an equal chance to discover all the 
                        amazing things they’re capable of – no matter who they are, where they’re from or 
                        what looks they like to boss. We exist to give you the confidence to be whoever 
                        you want to be.
                    </p>
                    <img src="../../assets/images/who-we-are-11.jpg">
                    <img src="../../assets/images/who-we-are-12.jpg">
                </div>

                <div>
                    <h1>
                        Body Positivity
                    </h1>
                    <p>
                        It’s super-important for us to promote a healthy body image – we’re not about conforming 
                        to any stereotypes – so we work with more than 200 models to represent our audience. And 
                        we’re not in the business of digitally altering their appearance either… there’s no 
                        reshaping or removing stretch marks here. Our models are part of the Hourglass family and 
                        we support them by following a Model Welfare Policy.
                    </p>
                    <img src="../../assets/images/who-we-are-21.jpg">
                    <img src="../../assets/images/who-we-are-22.jpg">
                </div>

                <div>
                    <h1>
                        Creative futures
                    </h1>
                    <p>
                        We’re all about helping young talent – from cool new models to inspiring new voices, and it 
                        extends to more than just the world of fashion. We nurture creative peeps from all industries, 
                        so they can achieve brilliant things. Photographers, chefs, musicians… you name it, we find 
                        amazing people from around the world and help them to pursue their passion projects.
                    </p>

                </div>
            </div>
        </div>
        <div>
            <div>
                <img id ="aboutus" src="../../assets/images/aboutus.png">
            </div>
        </div>
    </div>
</div>