<div class="content">
    <div class="container-fluid">
        <div>
            <div>

                <div>
                    <h1>
                        Who we are
                    </h1>
                    <p>
                        Hourglass Clothing store is an online fashion retailer. We are headquarterd in downtonw Toronto,
                        Canada and our designs
                        are inspired by our city. We are a passionate team of designers and fashion enthusiasts who
                        believe in the freedom of
                        expression, we believe you are your own boss and you can express yourself in the clothing you
                        choose for yourself.
                    </p>
                    <img src="../../assets/images/who-we-are-11.jpg">
                    <img src="../../assets/images/who-we-are-12.jpg">
                </div>

                <div>
                    <h1>
                        Our Product
                    </h1>
                    <p>
                        Our products are all manufactured in Toronto, Canada. Detail matters to our designers. Our
                        Technical Designers pay close
                        attention to every stitch in our products to ensure that the product meets our high standards.
                        To source our fabrics we
                        contact the manufacturers directly to avoid the middlemen and reduce prices for our customers.
                    </p>
                    <img src="../../assets/images/who-we-are-21.jpg">
                    <img src="../../assets/images/who-we-are-22.jpg">
                </div>

                <div>
                    <h1>
                        Free Shipping
                    </h1>
                    <p>
                        We are all about making fashion affordable for everyone and therefore we provide free shipping
                        in Canada from coast to coast.
                        We also provide free next-day shipping in the US if you sign up for the premier delivery
                        service.
                    </p>

                </div>
            </div>
        </div>
        <div>
            <div>
                <img id="aboutus" src="../../assets/images/aboutus.png">
            </div>
        </div>
    </div>
</div>