<div class="content">
    <div class="container-fluid">
        <h1 id="top">
            Hourglass Cyber Security
        </h1>
        <body>
            At Hourglass, we take online safety very seriously. We are aware of fraudsters’ ways of exploiting customers, 
            including scams by email or text message, posing as ,Hourglass on social media or simply trying to guess your 
            password to get into your account.
            <br>  <br>
            Here are our top tips to help you stay safe online.
         
            <br> <br>
                <a href="../security/#strong">STRONG PASSWORDS</a>   
            
            <br> <br>
                <a href="../security/#browser">SAVING PASSWORDS IN YOUR BROWSER</a>  

            <br> <br>
                <a href="../security/#2factor">TURN ON TWO-FACTOR AUTHENTICATION</a>  
  
            <br> <br>
                <a href="../security/#updated">KEEP YOUR DEVICES UPDATED</a>  

            <br> <br>
                <a href="../security/#backup"> BACK UP YOUR DEVICES</a>  

            <br> <br>
                <a href="../security/#phising">AVOIDING PHISING</a>  

            <br> <br>
                <a href="../security/#fraud">FRAUD ADVICE AND KEEPING YOUR CARD DATA SAFE</a>  

            <br> <br>
                <a href="../security/#advice">FURTHER ADVICE ON STAYING SAFE ONLINE </a>  

            <br>
            <br>

            <br>

            <h2 id="strong">
                STRONG PASSWORDS
            </h2>

            Your email account contains a lot of personal information about you, and is usually linked to other online accounts you use. 
            If your email account is compromised, all your other passwords can be reset. So, it's important you secure your email account 
            with a strong password that is different to all your others.
            <br> <br>
            To create one, we recommend the '3 random words' method: simply connect three random, memorable words that mean something to you together 
            – the longer and dafter the better.
            For example: MagicalCardWater.
            <br> <br>
            If you need to change your password on your email account to make it stronger, just click here:
            <br> 

            <a href="https://support.google.com/accounts/answer/41078">Google</a>
            <br>
            <a href="https://help.yahoo.com/kb/account/SLN27051.html?guccounter=1&guce_referrer=aHR0cHM6Ly96NGY3aTAuYXhzaGFyZS5jb20vY3liZXJfYXdhcmVfbXZ
            wX2xhdW5jaF92Mi5odG1s&guce_referrer_sig=AQAAAAmwg8IbCD0M3pRs0fccTeAig5tAEjW67Tef5ADGBHsFSOUCMlgsTt2tmeyhwRrijOSVGWhs52mZH9KiGPyDBTfGSCICGLC
            aiHK2qKmhAdho0ijNQZ1sNAWlCrWVkSzbfp6oJJq5Wl9bUYZqvsED4pD5QeP3I6I5XNNXjAOPh_vR">Yahoo Mail</a>
            <br>
            <a href="https://support.microsoft.com/en-gb/office/change-your-password-in-outlook-com-2138d690-811c-4545-b2f3-e4dbe80c9735?ui=en-us&rs=en-gb&ad=gb">
            Outlook</a>
         

                <br>
            <br> <br>

            <h2 id="browser">
                SAVING PASSWORDS IN YOUR BROWSER
            </h2>

            Using the same passwords for all your accounts makes you vulnerable, because if that one password is stolen, all your accounts can be accessed. 
            Use a unique password for each one, and remember to have different passwords especially for your email and Hourglass accounts.
            <br> <br>
            The more passwords you have, the harder to remember, right? So, it's a good idea to save and manage your passwords in the browser you use.
            <br> <br>
            If you need help, check out handy instructions for your preferred browser here:
            <br>

            <a href="https://support.google.com/chrome/answer/95606?co=GENIE.Platform%3DDesktop&hl=en&oco=1">
            Google</a>
            <br>
            
            <a href="https://support.microsoft.com/en-us/microsoft-edge/save-or-forget-passwords-in-microsoft-edge-b4beecb0-f2a8-1ca0-f26f-9ec247a3f336">
            Microsoft Edge</a>
            <br>

            <a href="https://support.mozilla.org/en-US/kb/password-manager-remember-delete-edit-logins#w_make-firefox-remember-usernames-and-passwords">
            Mozilla Fox</a>
            <br>

            <a href="https://support.apple.com/en-gb/guide/mac-help/mchlf375f392/mac">
            Safari</a>

            <br>
            <br> <br>


            <h2 id="2factor">
                TURN ON TWO-FACTOR AUTHENTICATION
            </h2>

            Two-factor authentication (2FA) is a free security feature that adds double protection on your important accounts, like email or social media.
            <br> <br>
            2FA stops someone else getting into your accounts, even if they have your password. It asks you to provide a code sent by text, or via an app 
            on your phone, to confirm it's really you accessing the account.
            <br> <br>
            Depending on the online services or apps you use, it can be called 2FA, two-step verification, or multi-factor authentication. If it's available, 
            it’s always safest to turn it on, especially on the accounts you care most about.
            <br>
            For secure banking, your bank should provide you with that service automatically; just make sure they have your correct phone number.
            <br> <br> <br>

            <h2 id="updated">
                KEEP YOUR DEVICES UPDATED
            </h2>

            We all love online shopping on our phones, tablets or laptops. But we need to make sure they don't have any weaknesses that can be exploited. 
            To protect sensitive data on your devices and keep them secure, always ensure the the latest app and software updates are installed.
            <br>
            The best way to do it is to turn on automatic updates on your device, so you don’t have to think about it.
            <br> <br> <br>


            <h2 id="backup">
                BACK UP YOUR DEVICES
            </h2>
            Yep, things can go wrong sometimes. And, if you lose your phone, tablet or laptop – or your accounts are accessed by someone 
            trying to steal your information – you could permanently lose all your sensitive personal data.
            <br>
            To prevent this, make sure you back up your information. It's up to you how much data you choose to back up - all of it, or just what is important to you.
            <br> <br> <br>

            <h2 id="phising">
                AVOIDING PHISING
            </h2>

            Be aware of suspicious requests pushing you to give away your personal details, or offering you something that seems too good to be true. It’s usually a phishing scam.
            <br>
            If you receive a dodgy email, don’t click on any links and don’t open any attachments. See <a href="https://cyber.gc.ca/en/cyber-incidents">Canadian Cyber Incidents</a>
            for more details on how to report phising.
            <br> <br> <br>
            

            <h2 id="fraud">
                FRAUD ADVICE AND KEEPING YOUR CARD DATA SAFE
            </h2>
                <ul>
                    <li>
                        Always use websites with the secure padlock symbol.
                    </li>
                    <li>
                        Check your bank statements online often and report any anomalies to your bank.
                    </li>
                    <li>
                        Report any suspicious activity to the <a href="https://antifraudcentre-centreantifraude.ca/report-signalez-eng.htm">Canadian Fraud Centre</a>
                    </li>
                    <li>
                        Report lost or stolen cards immediately to your bank.
                    </li>
                    <li>
                        Do not auto-fill or remember card information or credentials on a shared device.
                    </li>
                    <li>
                        Log out of your account after every session on a shared device.
                    </li>
                </ul>

                <br> <br> 
            <h2 id="advice">
                FURTHER ADVICE ON STAYING SAFE ONLINE 
            </h2>

            Always check you are shopping with trusted retailers and only use secure sites, look for the padlock in the address bar when you are surfing the web. 
            This means that your connection is encrypted, so your personal information will reach the site without anyone else being able to read it. That's important 
            if you're sending things like credit card details, but it doesn't tell you who is at the other end of the connection.
            <br>
            If you want to go ahead with a purchase on a site you’re not sure is legitimate, use a credit card if you have one, as most major credit card providers insure online purchases.
            <br>
            Also, don’t give away too much information. There’re some obvious details that an online store will need, such as your address and your card details, but be cautious if they ask for details that are not required for your purchase such as your mother’s maiden name or the name of your primary school.
            <br> <br> <br>

            

        </body>
        <a href="../security/#top" style="font-size: 48px;"> &#11165;</a>
        <br>
    </div>
</div>

