<div class="content">
    <div class="container-fluid">
        <h1 id="top">
            Hourglass Cyber Security
        </h1>

        <body>
            Your online security is our priority we make sure your data is stored safely and frequent backups happens
            daily to
            to ensure your data remains secure.

            <br> <br>
            <a href="../security/#complex">CREATE COMPLEX PASSWORDS</a>

            <br> <br>
            <a href="../security/#firewall">USE FIREWALL</a>

            <br> <br>
            <a href="../security/#smart">CLICK SMART</a>

            <br> <br>
            <a href="../security/#safe_surfing">PRACTICE SAFE SURFING</a>

            <br>
            <br>

            <br>

            <h2 id="complex">
                CREATE COMPLEX PASSWORDS
            </h2>

            We know you’ve heard it before, but creating strong, unique passwords for all your critical accounts really
            is the best way to keep your personal and
            financial information safe. This is especially true in the era of widespread corporate hacks, where one
            database breach can reveal tens of thousands
            of user passwords. If you reuse your passwords, a hacker can take the leaked data from one attack and use it
            to login to your other accounts. Our best
            advice: use a password manager to help you store and create strong passwords for all of your accounts.

            <br> <br>
            Then, check to see if your online accounts offer multi-factor authentication. This is when multiple pieces
            of information are required to verify your
            identity. So, to log into an account you may need to enter a code that is sent to your phone, as well as
            your password and passphrase.
            <br> <br>
            If you need to change your password on your email account to make it stronger, just click here:
            <br>

            <a href="https://support.google.com/accounts/answer/41078">Google</a>
            <br>
            <a href="https://help.yahoo.com/kb/account/SLN27051.html?guccounter=1&guce_referrer=aHR0cHM6Ly96NGY3aTAuYXhzaGFyZS5jb20vY3liZXJfYXdhcmVfbXZ
            wX2xhdW5jaF92Mi5odG1s&guce_referrer_sig=AQAAAAmwg8IbCD0M3pRs0fccTeAig5tAEjW67Tef5ADGBHsFSOUCMlgsTt2tmeyhwRrijOSVGWhs52mZH9KiGPyDBTfGSCICGLC
            aiHK2qKmhAdho0ijNQZ1sNAWlCrWVkSzbfp6oJJq5Wl9bUYZqvsED4pD5QeP3I6I5XNNXjAOPh_vR">Yahoo Mail</a>
            <br>
            <a
                href="https://support.microsoft.com/en-gb/office/change-your-password-in-outlook-com-2138d690-811c-4545-b2f3-e4dbe80c9735?ui=en-us&rs=en-gb&ad=gb">
                Outlook</a>


            <br>
            <br> <br>

            <h2 id="firewall">
                USE FIREWALL
            </h2>

            Even if your network is secure, you should still use a firewall. This an electronic barrier that blocks
            unauthorized access to your computers and
            devices, and is often included with comprehensive security software. Using a firewall ensures that all of
            the devices connected to your network
            are secured, including Internet of Things (IoT) devices like smart thermostats and webcams. This is
            important since many IoT devices aren’t equipped
            with security measures, giving hackers a vulnerable point of entry to your entire network.
            <br> <br>


            <h2 id="smart">
                CLICK SMART
            </h2>

            Now that you’ve put smart tech measures into place, make sure that you don’t invite danger with careless
            clicking. Many of today’s online threats
            are based on phishing or social engineering. This is when you are tricked into revealing personal or
            sensitive information for fraudulent purposes.
            Spam emails, phony “free” offers, click bait, online quizzes and more all use these tactics to entice you to
            click on dangerous links or give up
            your personal information. Always be wary of offers that sound too good to be true, or ask for too much
            information.
            <br> <br> <br>

            <h2 id="safe_surfing">
                PRACTICE SAFE SURFING
            </h2>

            When shopping online, or visiting websites for online banking or other sensitive transactions, always make
            sure that the site’s address starts with
            “https”, instead of just “http”, and has a padlock icon in the URL field. This indicates that the website is
            secure and uses encryption to scramble
            your data so it can’t be intercepted by others. Also, be on the lookout for websites that have misspellings
            or bad grammar in their addresses.
            They could be copycats of legitimate websites
            <br> <br> <br>

        </body>
        <a href="../security/#top" style="font-size: 48px;"> &#11165;</a>
        <br>
    </div>
</div>