<div class="content">
    <div class="container-fluid">
        <div class="header">
            <h1 id="mainTitle">
                Mission and Values <br> <br>
                &#9660;
                <br>
            </h1>
        </div>
        <div class = "info">
            <h1>
                Our Mission
            </h1>
            <hr> <br> <br>

            <p>
                The outcome we seek is that a young person is able to move from one life stage 
                to the next – whether that’s from unemployment to training, 
                from training to an apprenticeship, from homelessness to a family.
                <br> <br>
                For example, in Kenya, one of our goals is to release people from fetching 
                water so they have free time to engage in economic or personal development 
                activities.
                <br><br>
                The Hourglass Foundation focuses on working with our long-term trusted partners to 
                achieve sustainable change, but also engages directly with young people at a 
                grass-roots level.
                <br><br>
                Hourglass is the primary funder of the Hourglass Foundation and supported by our 
                employees and customers. In addition, Hourglass makes donations providing space, 
                equipment, expertise, management resource and time to run hands-on training 
                schemes and projects with Hourglass volunteers.
            </p>
        </div>
        <div class="info">
            <h1>
                What?
            </h1>
            <hr> <br> <br>
            <p>
                The Hourglass Foundation creates opportunities by providing inspiration, support, 
                infrastructure and training. By helping disadvantaged young people overcome 
                barriers and change their lives for the better, we help them achieve their full 
                potential.
            </p>
        </div>
        <div class="info">
            <h1>
                Why?
            </h1>
            <hr> <br> <br>
            <p>
                We believe in empowering our customers to be confident and express themselves – 
                but we recognise the inequalities present in conditions and opportunities for 
                young people globally. By supporting and investing in support for those people, 
                we are working for a brighter future we can all be a part of.
            </p>
             
        </div>
        <div class="info">
            <h1>
                How?
            </h1>
            <hr> <br> <br>
            <p>
                We fund projects in collaboration with long-term trusted partners, 
                and we also engage directly with young people at a grass-roots level.
            </p>
        </div>
        <div class="info">
            <h1>
                Where?
            </h1>
            <hr> <br> <br>
            <p>
                Our work is focused on long-term and 
                carefully selected projects in the UK, India and Kenya.
            </p>
        </div>
    </div>
</div>
