<div class="content">
    <div class="container-fluid">
        <div class="header">
            <h1 id="mainTitle">
                Mission and Values <br> <br>
                &#9660;
                <br>
            </h1>
        </div>
        <div class = "info">
            <h1>
                Our Mission
            </h1>
            <hr> <br> <br>

            <p>
                We believe in making fashion affordable to everyone around the world and 
                that is our global mission. In order to achieve this goal for every piece
                of clothing you shop from us we provide a kid in need with the same piece
                of clothing you purchased.
                <br> <br>
                For example, in Kenya, one of our goals is to release people from fetching 
                water so they have free time to engage in economic or personal development 
                activities.
                <br><br>
                The Hourglass works with governments and charities around the world to make 
                this mission a reality. We currently have head quarters in India and Kenya 
                to deliver our products to those in need.
            </p>
        </div>
        <div class="info">
            <h1>
                What?
            </h1>
            <hr> <br> <br>
            <p>
                For every item you purchase from us we will donate a piece of clothing of equal value to someone in need.
            </p>
        </div>
        <div class="info">
            <h1>
                Why?
            </h1>
            <hr> <br> <br>
            <p>
                It is belief and mission that everyone should have equal access to clothing and fashion to express themselves
                the way they want. We also partner with local charities to provide help and relief to those in need. Your support
                enables us to responsd to crises immediately and protect the affected communities.
            </p>
             
        </div>
        <div class="info">
            <h1>
                How?
            </h1>
            <hr> <br> <br>
            <p>
                We partner with big charities in India and Kenya to provide essential goods to those in need. We also fund immediatly when
                disasters strike.
            </p>
        </div>
        <div class="info">
            <h1>
                Where?
            </h1>
            <hr> <br> <br>
            <p>
                Currently our foundation has partnered with charities in Canada, India and Kenya.
            </p>
        </div>
    </div>
</div>
