.products {
    padding: 50px;
}

.products .row {
    margin: 30px 0;
}

.products .mat-card {
    cursor: pointer;
}

p {
    font-size: 1.1rem;
    font-family: 'Open Sans Condensed', sans-serif;
}

.delete-icon {
    position: absolute;
    color: #212529;
    right: 10px;
    top: 10px;
    font-family: 'Material Icons';
    font-size: 2rem;
  }
  
  .delete-icon:hover {
    color: #f05454;
  }