<br>
<div class="wrapper-box">
    <div class="container">
      <h2 class="text-center mb-5 title font-weight-bold">STUDENTS GET 10% OFF</h2>
      <p class="text-center description">Complete the form below and we'll send you your unique student discount code - 
          valid until you graduate. Happy shopping!</p>
          <br>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form>
            <div>
              <label class="font-weight-bold labeltext" for="Email">STUDENT EMAIL</label>
              <input
                type="email"
                class="form-control"
                name="Email"
                placeholder="Enter Student Email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <br>
            <div>
              <label class="font-weight-bold labeltext" for="fullname">FULL NAME</label>
              <input
                type="text"
                class="form-control"
                name="Fullname"
                placeholder="Full Name"
              />
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-dark text-center">
                SUBMIT
                </button>
            </div>
          </form>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>