<div class="content">
    <div class="container-fluid">
        <div class="title-container">
            <h1 class="text-center lead"><strong>PREMIER DELIVERY</strong></h1>
        </div>
        <div class="description-container1">
            <p class="content">
                Sign up to Premier Delivery for free and unlimited Next-Day Delivery, Precise Delivery or Standard
                Delivery with no minimum order value for a whole year*. Speedy, hassle-free shopping just got even
                better.
            </p>
            <h2>
                Only $9.95 a year
            </h2>
            <p class="content">
                Cut-off times and dates, and area restrictions may apply. Cut-off times may change during busy periods
                (see estimated delivery times at checkout). Personal use only.
            </p>
        </div>
        <div class="description-container2">
            <p class="content">
                <strong>Let's do the maths</strong>
            </p>
            <p class="content">
                At <strong>$9.95</strong> for the whole year, Premier Delivery pays for itself after just <strong>2
                    orders</strong> with Next-Day Delivery.
            </p>
            <br>
            <table>
                <tr>
                    <th>Orders per year</th>
                    <th>Without premier delivery</th>
                    <th>With premier delivery</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>$5.95</th>
                    <th>$9.95</th>

                </tr>
                <tr>
                    <th>2</th>
                    <th>$11.90</th>
                    <th>$9.95</th>

                </tr>
                <tr>
                    <th>5</th>
                    <th>$29.75</th>
                    <th>$9.95</th>
                </tr>
                <tr>
                    <th>10</th>
                    <th>$59.50</th>
                    <th>$9.95</th>
                </tr>
                <tr>
                    <th>20</th>
                    <th>$119.00</th>
                    <th>$9.95</th>
                </tr>

            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>